@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '@fontsource/montserrat';
@import '@fontsource/roboto-mono'; */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

/* ====================== Home ====================== */

.hero-heading {
  font-weight: 700;
  /* line-height: 4.2rem; */
  text-transform: uppercase;
}

.text-gradient {
  background: linear-gradient(to right, #5857B5, #F62974, #F67941);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}