@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '@fontsource/montserrat';
@import '@fontsource/roboto-mono'; */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  overflow-x: hidden;
}

/* ====================== Utils ====================== */

.Section-top-spacing {
  padding-top: 200px;
}

.section-heading {
  font-weight: 700;
  text-transform: uppercase;
}

.section-text-large {
  font-weight: 600;
  line-height: 0.9;
  text-transform: uppercase;
}

/* ====================== Home ====================== */

.hero-heading {
  font-weight: 700;
  /* line-height: 4.2rem; */
  text-transform: uppercase;
}

.text-gradient {
  background: linear-gradient(to right, #5857B5, #F62974, #F67941);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* ====================== Future Section ====================== */

.vr-bg-1 {
  background-image: url('../public/assets/VR1.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 60%;
}

.vr-bg-2 {
  background-image: url('../public/assets/VR2.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-heading {
  text-transform: uppercase;
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .vr-bg-1 {
    background-size: 100%;
  }

  .vr-bg-2 {
    background-size: 220%;
    background-position: bottom center;
  }
}

/* ====================== Hapsphere Section ====================== */

.hapsphere-sub-heading {
  text-transform: uppercase;
}

.hapsphere-bg-3 {
  background-image: url('../public/assets/Logo-bg.svg');
  background-position: calc(100% + 400px) calc(100% + 400px);
  background-repeat: no-repeat;
  /* background-size: 60%; */
}